body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FAAA8D;
}

div {
    margin-left: 20px;
    margin-right: 20px;
}

.header {
    padding: 30px;
    text-align: center;
    background-color: #50B2C0;
}

.nav {
    background-color:#201E1F;
    overflow: hidden;
}

.nav a {
    float:left;
    color: white;
    text-align: center;
    padding: 16px 125px;
    text-decoration: none;
    font-size: 18px;
  }

.nav a:hover {
    background-color: #FF4000;
    color:white;
}

.main {
    background-color: #FEEFDD;
}

h2 {
    text-align: center;
}

img {
    float:left;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 200px;
}

li {
    margin: 10px 0;
}

.footer {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    clear:both;
}