body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    padding: 30px;
    text-align: center;
    background-color: aquamarine;
}

.nav {
    background-color:tan;
    overflow: hidden;
}

.nav a {
    float:left;
    color: black;
    text-align: center;
    padding: 16px 130px;
    text-decoration: none;
  }

.nav a:hover {
    background-color: coral;
    color:white;
}

h2 {
    text-align: center;
}

img {
    float:left;
    margin-right: 15px;
}

.footer {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    clear:both;
}